$main-blue: #2526cc;
$background-blue: #181556;

$main-purple: #dd68f6;

$main-orange: #ff9a42;

$main-white: #fff;

$breaking-point: 1080px;

/// Font size

$base-size: 18px;

$h2-title: 40px;
$h3-title: 25px;
$loader-font-size: 30px;
/// breakpoint

$bp-desktop: 1200px;
$bp-medium: 750px;
$bp-mobile: 500px;
