//////////////////////////////////////////////////////////////////////////
//
//
//             style général
//
//
//////////////////////////////////////////////////////////////////////////

@import "variables";

//////////////////////////////////////////////////////////////////////////
//             layout
//////////////////////////////////////////////////////////////////////////

@import "layout/header";
@import "layout/menu";
@import "layout/footer";

//////////////////////////////////////////////////////////////////////////
//             composants
//////////////////////////////////////////////////////////////////////////

@import "components/buttons";
@import "components/titles";
@import "components/typography";
@import "components/section";
@import "components/team";

//////////////////////////////////////////////////////////////////////////
//             mixins
//////////////////////////////////////////////////////////////////////////

@import "mixins/responsive";

html {
    scroll-behavior: smooth;

    body{
        margin: 0;
        
        .container{
            margin-left: 10%;
    
            @media (min-width: $bp-medium) {
                margin-left: 12%;
            }
        }
    }
}