.footer {
    $this: ".footer";

    background-color: $background-blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem $ml;

    @media (min-width: $bp-medium) {
        justify-content: space-evenly;
    }

    & > * {
        margin: 20px;
    }

    &-content {
        display: flex;
        flex-direction: column;

        #{$this}-logo-yggdrasil {
            margin-bottom: 2rem;
        }
        
        @media (min-width: $bp-medium) {
            flex-direction: row;
        }
    }

    &-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        line-height: 1.5;
        font-size: 0.8rem;

        @media (min-width: $bp-medium) {
            text-align: left;
            margin-left: 5rem;
        }

        a {
            font-family: "TT Commons Light";
            font-size: 1.5rem;
            color: $main-white;
            text-decoration: none;
            white-space: nowrap;
        }
    }

    &-logo-partner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (min-width: $bp-medium) {
            justify-content: center;
            flex-direction: row;
        }

        img {
            margin: 15% 0;
            
            @media (min-width: $bp-medium) {
                margin: 0 15%;
            }

            width: 100%;

            &:last-of-type{
                width: 30%;
            }
        }
    }
}
