button {
    background: none;
    border: 1px solid white;
    color: white;
    font-family: 'Poppins-Light';
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    min-width: 50%;
    max-width: 80%;
    margin-bottom: 1rem;
}