h1,
h2,
h3 {
  font-family: "Abhaya Libre";
  font-weight: 800;
  color: $main-blue;
}

h2 {
  font-size: $h2-title;
}

h3 {
  font-size: $h3-title;
}

p {
  font-size: $base-size;
  font-family: "Poppins";
  font-weight: 300;
}
