@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Livvic:wght@300&family=Poppins:wght@300;600&display=swap");

@font-face {
  font-family: "AbhayaLibre-Bold";
  src: url("/fonts/AbhayaLibre-Bold.ttf");
}

@font-face {
  font-family: "AbhayaLibre-ExtraBold";
  src: url("/fonts/AbhayaLibre-ExtraBold.ttf");
}

@font-face {
  font-family: "AbhayaLibre-Medium";
  src: url("/fonts/AbhayaLibre-Medium.ttf");
}

@font-face {
  font-family: "AbhayaLibre-Regular";
  src: url("/fonts/AbhayaLibre-Regular.ttf");
}

@font-face {
  font-family: "AbhayaLibre-SemiBold";
  src: url("/fonts/AbhayaLibre-SemiBold.ttf");
}

@font-face {
  font-family: "Livvic-Light";
  src: url("/fonts/Livvic-Light.ttf");
}

@font-face {
  font-family: "TT Commons Light Italic";
  src: url("/fonts/TT Commons Light Italic.otf");
}

@font-face {
  font-family: "TT Commons Light";
  src: url("/fonts/TT Commons Light.otf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf");
}
